xcuserdata
*.lo
*.o
*.la
lib/.libs/libsyck.a
lib/libsyck-i386.a
lib/libsyck-x86_64.a
Makefile
config.h
config.log
config.status
libtool
m4/
stamp-h1
tests/.deps/
tests/.libs/
tests/test-basic
tests/test-emit
tests/test-parse
tests/test-yts
