xcuserdata
*.lo
*.o
*.a
*.la
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/ltmain.sh
config/missing
config/ylwrap
configure
lib/gram.c
lib/gram.h
lib/gram.output
lib/.deps
lib/.libs
libtool
m4/
stamp-h1
tests/.deps/
tests/.libs/
tests/test-basic
tests/test-emit
tests/test-parse
tests/test-yts
